html {
	width: 100%;
	margin: 0;
	overflow-x: hidden;
}

.eop {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 3rem auto;
}

.eopl {
	text-align: left;
	margin-left: 2rem;
	margin-top: 2rem;
	width: 50%;
}
.eopr {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	position: relative;
}

.eopl > h1 {
	font-weight: bolder;
}
.eopl > p {
	margin-top: 2rem;
}

.teamakimbo {
	width: 80%;
	height: 80%;
}

.rect42 {
	width: 60%;
	height: 70%;
	position: absolute;
	top: 15%;
	left: 30%;
	z-index: -1;
}

.locations {
	display: flex;
	width: 90%;
	margin: 1rem auto;
	justify-content: space-between;
	padding-top: 3%;
	margin-bottom: -2%;
}

.unknowns {
	width: 100%;
	margin: 1rem auto;
	padding: 0rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(51, 51, 51, 0.27);
}

.unknown {
	width: 20rem;
	height: 20rem;
	background-color: red;
	border-radius: 2rem;
}
.questiondeet,
.search {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.questiondeet {
	width: 90%;
	margin-left: 13%;
}
.search {
	width: 100%;

	border-radius: 1rem;
	box-sizing: border-box;
	margin-top: .1rem;
	height: 2.5rem;
	border: .1rem solid rgba(51, 51, 51, 0.27);
	background-color: white;
}

.sin {
	border-left: .1rem solid rgba(51, 51, 51, 0.27);
	border-right: .1rem solid rgba(51, 51, 51, 0.27);
	padding: .5rem;
	box-sizing: border-box;
}

.locl {
	text-align: left;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 7rem;
}

.loch {
	margin: .2rem auto;
}

.loclt {
	margin-top: 2rem;
}

.loclocations {
	display: flex;
	width: 90%;
	justify-content: space-between;
	margin-top: 4rem auto 2rem auto;
}
.locr {
	width: 50%;
	display: flex;
}
.locrimg {
	width: 90%;
	height: 90%;
}
.watipNX {
	display: flex;
	flex-direction: column;
	background-color: #e8eaed;
	padding: 2rem;
	box-sizing: border-box;
}

.watipNX > h2 {
	margin: 1.5rem auto;
}

.waimgs {
	margin: 1rem auto;
	display: flex;
	justify-content: space-between;
	width: 90%;
	align-items: center;
}

.waimg > img {
	width: 100%;
	height: 100%;
}
.redwords {
	color: red;
}

.coverletter {
	display: flex;
	width: 80%;
	margin: 2rem auto;
}
.climg {
	width: 90%;
	height: 90%;
	margin-top: 5%;
}
.clr {
	flex-direction: column;
	display: flex;
	margin-left: 5%;
	margin-top: 2rem;
	height: 100%;
	width: 50%;
}
.redbdrbtn {
	height: 2.5rem;
	box-sizing: border-box;
	justify-content: center;
	display: flex;
	align-items: center;
	width: 8rem;
	border: 0.1rem solid red;
	color: red;
}

.redbdrbtn:hover {
	color: red;
}

@media screen and (max-width: 992px) {
	.eop {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

	.teamakimbo {
		width: 80%;
		height: 80%;
	}

	.rect42 {
		width: 80%;
		height: 90%;
		position: absolute;
		top: 5%;
		left: 20%;
		z-index: -1;
	}

	.unknowns {
		flex-direction: column;
	}
	.unknown {
		margin: 1.5rem auto;
	}

	.locations {
		flex-direction: column-reverse;
		padding-top: .1rem;
	}

	.locrimg {
		display: block;
		margin: 2rem auto -4rem 50%;
	}

	.locl {
		margin-bottom: 2rem;
	}

	.waimg > img {
		width: 100%;
		height: 100%;
	}
	.waimg:nth-of-type(1) {
		margin-right: 5%;
	}

	.coverletter {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.cll {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.climg {
		width: 60%;
		height: 60%;
	}

	.clr {
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 520px) {
	.loclocations {
		margin-left: .4rem;
	}
	.cll {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media screen and (min-width: 1020px) {
	.locl {
		margin-top: -6rem;
	}
}
