/* Contact Details */
body{
  overflow-x: none;
}

.targetmarket {
    width: 90%;
    margin: 3rem auto 8rem auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0.4rem;
  }
  
  .tmcard {
    display: flex;
  }
  
  .fas,
  .far {
    color: #ff0000;
    margin-right: 1rem;
  }
  
  .tmtext > p {
    font-family: "Poppins", sans-serif;
  }
  
  .fa-lg {
    margin-top: .4rem;
  }
  /* Contact Form */
  
  .contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5rem auto;
    width: 80%;
  
  }
  
  .name, .contactdetails {
    display: flex;
  align-items: center;
  justify-content: space-between;
  }

  .c-img {
    width: 100%;
    height: 100%;
  }
  .fr {
    margin: auto 2rem;
    margin-left: 5rem;
  width: 50%;
  box-sizing: border-box;
  }
  
  .texthead {
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: -.08rem;
  }
  
  .formbox {
    width: 18rem;
    height: 3.5rem;
    border: 1px solid #999;
    margin-right: 2.5rem;
  }
  
  .formbox:focus {
    border: 1px solid #999;
  
  }
  
  .textarea, textarea {
    width: 38.5rem;
    height: 9rem;
    resize: none;
  }
  
  .send {
    margin-top: 4rem;
    width: 38.5rem;
    height: 2.5rem;
    background-color: red;
  text-align: center;
  padding-top: .5rem;
  }
  
  .send > p {
    color: white;

  }


  @media screen and (max-width: 992px) {
  .targetmarket {
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
}

.contact {
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
flex-direction: column;
margin-top: -6rem;
}


 .fr {
   width: 80%;
   margin: auto; 
 }

 .formbox {
  width: 9rem;
  height: 1.75rem;
  border: 1px solid #999;
  margin-right: 2.5rem;
}

.c-img{
  width: 20rem;
  height: 20rem;
}


.textarea, textarea {
  width: 20.8rem;
  height: 4.5rem;
  resize: none;
}

.send {
  margin-top: 3rem;
  width: 21rem;
  height: 2rem;
  background-color: red;
box-sizing: border-box;
}

.send > p {
    color: white;
    margin-bottom: 50%;
  }
}

@media screen and (max-width: 400px){
.contact {
  margin-left: -12%;
  margin-top: -10rem;
}

.fl{
  margin-left: 25%;
}
}